.App {
  text-align: center;
  background-color: #1795d4;
  min-height: 100vh;
  padding: 1em;
}

.App-logo {
  pointer-events: none;
  width: 200px;
  height: 100px;
}

h1 {
  color: #ffffff;
}

button {
  padding: 1em;
  border-radius: 10%;
  border: 0;
  margin: .2em;
  color: #373d45;
}

button:hover {
  background-color: #e2e2ee;
}

input {
  border: 1px solid #ffffff;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  width: 60%;
  margin-bottom: 1em;
}

input::placeholder {
  color: #373d45
}

input:hover {
  border: 1px solid #373d45;
}

@media only screen and (min-width: 425px) {
  input {
    width: 20%;
  }
}